body {
  font-family: 'Open Sans', sans-serif;
}

th, td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
    height: 40px;
    text-align: left;
    background-color: darkblue;
    color: white;
}
tr:hover {
  background-color: #f5f5f5
}

.form {
  overflow-x: auto;
}

#map {
    height: 400px;
    width: 800px;
    margin: 0 auto;
    float: right;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
}

input, select {
  display: inline;
  float: left;
  margin-left: -120px;
}
